@RenderPage("~/AreaRestrita/Seguranca.cshtml");
@{
    Page.Title = "Classificacao";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    private class Time
    {
        public string IdTime { get; set; }
        public string Nome { get; set; }

    }

    List<Time> times = null;

    private void Consultar()
    {
        times = new Dao().ExecutarAcaoList<Time>("C", null);

    }
}

@{
    Util.ExceptionHandler(Consultar, this.ModelState);
}


<form name="form1" method="post">
    <div class="container">
        <h1>Confrontos times</h1>

        <div class="mb-3">
            <button class="btn btn-outline-secondary">Limpar</button>
            <button class="btn btn-primary">Gravar</button>

        </div>

        @PageHelper.MakeAlert()

        @if (times != null)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="50">Times</th>
                        @foreach (Time item in times)
                        {
                            <th width="50">@item.Nome</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (Time time1 in times)
                    {
                        <tr>
                            <td>@time1.Nome</td>    
                            @foreach (Time time2 in times)
                            {
                                <td class="confronto"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</form>

<style>
    .confronto:hover {
        background-color: #ff3232;
        cursor: pointer;
        /*FF0000*/
    }
</style>

<script>
    function consultar() {
        document.form1.acao.value = "C";
        document.form1.submit();
    }


</script>



