@helper MakeAlert()
{
    foreach (var item in ModelState)
    {
        foreach (var item1 in item.Value.Errors)
        {
            <div class="alert @Html.Raw(item.Key)">
                @Html.Raw(item1)

            </div>
        }

    }

}

@helper makeFeedback(string key) {
    foreach (var item in ModelState.Where(x => x.Key.Equals(key, StringComparison.OrdinalIgnoreCase)))
    {
        foreach (var item1 in item.Value.Errors)
        {
         <div class="invalid-feedback">@(item1)</div>
        }

    }
}