.search {
    position: relative;
}

.search-card {
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 512px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    z-index: 2;
    display: none;
}

.search-card.show {
    display: block;
}

.search-head {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    padding: 0.5rem 0.75rem;
    display: flex;
}

.search-title {
    flex: 1;
}

.search-body {
    padding: 0.5rem 0.75rem;
}

.search-close {
    cursor: pointer;
}