@RenderPage("~/AreaRestrita/Seguranca.cshtml");

@{
    Page.Title = "Time";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions {
    string acao = null;

    string nomeArquivo = null;
    string idJogo = null;

    List<Botao> botoes = null;


    private void AlimentaVariaveis()
    {
        acao = Util.ChecaNulo(Request.Form["acao"]);
        nomeArquivo = Util.ChecaNulo(Request.QueryString["caminhoArquivo"]);
        idJogo = Util.ChecaNulo(Request.QueryString["idJogo"]);

        botoes = new BotaoDao().GetAll();
    }

    private string IsInvalid(string key)
    {
        return !ModelState.IsValidField(key) ? "is-invalid" : "";
    }

    private void ExcluirArquivo()
    {
        if (nomeArquivo != null)
        {
            string caminhoArquivo = Server.MapPath(nomeArquivo);

            if (File.Exists(caminhoArquivo))
            {
                File.Delete(caminhoArquivo);

                Dictionary<string, object> parametros = new Dictionary<string, object>();

                parametros.Add("@IdJogo", idJogo);

                new Dao().ExecutarAcao("ES", parametros);

                ModelState.AddError("alert-success", "Súmula removida com sucesso");

                HttpContext.Current.Response.Redirect("/AreaRestrita/Copa/cadastro/Jogo");


            }
        }
    }
}

@{
    AlimentaVariaveis();

    if (acao == "ES")
    {
        Util.ExceptionHandler(() =>
        {
            ExcluirArquivo();
        }, this.ModelState);
    }
}

<form name="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="acao" id="acao" />
    <input type="hidden" name="nomeArquivo" id="nomeArquivo" />

    <div class="text-white container">
        <h1>Consultar súmula</h1>

        @PageHelper.MakeAlert()


        @PageHelper.MakeBotao(botoes, "ES")



        <object class="mt-3" style="width: 100%; aspect-ratio: 4/3"
                data="@nomeArquivo"
                width="800"
                height="500">
        </object>


    </div>
</form>

@*<script src="~/Scripts/scripts.js"></script>*@

<script>
    function executarAcao(acao) {
        document.form1.acao.value = acao;
        document.form1.nomeArquivo.value = '@nomeArquivo';
        document.form1.submit();
    }
</script>


