@{
    Page.Title = "Artilharia";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}


@functions {
    private class Artilharia
    {
        public string NomeTime { get; set; }
        public string NomeJogador { get; set; }
        public int TotalGols { get; set; }

    }

    List<Artilharia> artilharias = null;

    private void Consultar()
    {

        string procedure = GetNomeProcedure("C");
        Dao dao = new Dao();

        artilharias = dao.ExecutarProcedureList<Artilharia>(procedure, null);

    }

    private string GetNomeProcedure(string acao)
    {
        switch (acao)
        {
            case "C": return "Stp_LGU_Artilharia_Sel";
            default:
                return null;
        }
    }

    private void Manutencao()
    {

        string procedure = GetNomeProcedure(null);

        Dao dao = new Dao();

        dao.ExecutarProcedure(procedure, null);

    }
}

@{
    Consultar();

}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet">
}

<body>
    <form name="form1" method="post">
        <div class="container">
            <h1>Artilharia</h1>

            @if (artilharias != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>NomeTime</th>
                            <th>NomeJogador</th>
                            <th>TotalGols</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Artilharia item in artilharias)
                        {
                            <tr>
                                <td>@item.NomeTime</td>
                                <td>@item.NomeJogador</td>
                                <td>
                                    @item.TotalGols
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
        </div>
    </form>

    <script>
        function consultar() {
            document.form1.acao.value = "C";
            document.form1.submit();
        }

       
    </script>
</body>


