@{
    Page.Title = "Seja bem vindo";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

<body>
    <h1>Olá Mundo</h1>

    <h3>Seja bem vindo ao treinamento</h3>

    @if (DateTime.Now.Hour < 12)
    {
        <p>Tenha um bom dia!</p>
    }
    else if (DateTime.Now.Hour < 18)
    {
        <p>Tenha uma boa tarde!</p>
    }
    else
    {
        <p>Tenha uma boa noite!</p>
    }

    <div>@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>