<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://images.vexels.com/media/users/3/320319/isolated/preview/c4087e2e8a77acd926c8b1108053d3fc-world-cup-football-emblematic-logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Copa do Mundo
        </a>

      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/AreaRestrita/Time.cshtml">Time</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/AreaRestrita/Artilharia.cshtml">Artilharia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/AreaRestrita/Classificacao.cshtml">Classificacao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/AreaRestrita/Jogador.cshtml">Jogador</a>
                </li><li class="nav-item">
                         <a class="nav-link" href="~/AreaRestrita/Jogo.cshtml">Jogo</a>
                </li><li class="nav-item">
                         <a class="nav-link" href="~/AreaRestrita/Participacao.cshtml">Participacao</a>
                </li>

            </ul
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
