
@functions  {
    private class Pagina
    {
        public string CodigoSistema { get; set; }
        public string CaptionSistema { get; set; }
        public string CodigoModulo { get; set; }
        public string CaptionModulo { get; set; }
        public string CodigoPagina { get; set; }
        public string CaptionPagina { get; set; }
    }

    List<Pagina> paginas = null;

    private void Consultar()
    {
        Identificacao identificacao = new Identificacao();


        Dictionary<string, object> parametros = new Dictionary<string, object>();
        parametros.Add("@TipoConsulta", "C_Menu");
        parametros.Add("@IdOperador", identificacao.IdOperador);

        string procedure = "stp_LGU_MontaMenu";
        Dao dao = new Dao();

        paginas = dao.ExecutarProcedureList<Pagina>(procedure, parametros);
    }
}

@{
    Consultar();
}

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark-subtle" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img width="60px" src="https://png.pngtree.com/png-vector/20220722/ourmid/pngtree-fifa-logo-png-image_6034648.png" alt="Logo">
            Copa do Mundo
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if (paginas != null)
                {
                    foreach (Pagina item in paginas)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/AreaRestrita/@item.CodigoSistema/@item.CodigoModulo/@item.CodigoPagina">@item.CaptionSistema/@item.CaptionModulo/@item.CaptionPagina</a>
                        </li>

                    }

                }
                <div style="width: 2px; height: 30px; background-color: #fff"></div>
                <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Copa/Cadastro/Copa/Cadastro/Time.cshtml">Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Copa/Consulta/Artilharia.cshtml">Artilharia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Copa/Consulta/Classificacao.cshtml">Classificacao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Copa/Cadastro/Jogador.cshtml">Jogador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Copa/Cadastro/Jogo.cshtml">Jogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Copa/Cadastro/Participacao.cshtml">Participacao</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Administrativo/Cadastro/Sistema.cshtml">Sistemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Administrativo/Cadastro/Modulo.cshtml">Módulos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Administrativo/Cadastro/Pagina.cshtml">Páginas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Administrativo/Cadastro/Acao.cshtml">Ações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Administrativo/Seguranca/Operador.cshtml">Operadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/AreaRestrita/Administrativo/Seguranca/Autorizacao.cshtml">Autorizações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/ControleAcesso/Sair.cshtml">Sair</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
