<div>
    <a href="/">Início</a>
    <a href="~/AreaRestrita/Page1.cshtml">Page 1</a>
    <a href="~/AreaRestrita/Page2.cshtml">Page 2</a>
    <a href="~/AreaRestrita/Page3.cshtml">Page 3</a>
    <a href="~/AreaRestrita/Time.cshtml">Time</a>
    <a href="~/AreaRestrita/Artilharia.cshtml">Artilharia</a>
</div>