@{
    Page.Title = "Três Pontos";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@section head {
    <link href="~/Scripts/Style.css" rel="stylesheet" />
}

<form name="form1" method="post">
    <input type="hidden" name="acao" id="acao" />

    <div class="container">
        <h1>Modal e Três Pontos</h1>

        @PageHelper.MakeAlert()

        <div class="mt-5">
            <label for="idTime">idTime</label>

            <div class="row">
                <div class="col-2">
                    <input type="text" id="idTime" name="idTime" class="form-control" />
                    @PageHelper.makeFeedback("idTime")
                </div>
                <div class="col-auto">
                    <div class="search">
                        <span class="btn btn-light" onclick="openSearch()">
                            ...
                        </span>
                        <div class="search-card show">
                            <div class="search-head">
                                <div class="search-title">Consulta de times</div>
                                <div class="search-close" onclick="closeSearch()">x</div>
                            </div>
                            <div class="search-body">
                                <label for="chave">Informe o nome do time</label>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="chave" id="chave" value="" class="form-control" />
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-outline-primary" type="button" name="pesquisar" id="pesquisar" onclick="makeSearch()">Pesquisar</button>
                                    </div>
                                </div>

                                <div class="resultado"></div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <input type="text" id="nome" name="nome" class="form-control" />
                    @PageHelper.makeFeedback("nome")
                </div>

            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        //console.log('oi')
    })
</script>